<!DOCTYPE html>
<html lang="ko-kr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	{% load static %}

	<link rel="stylesheet" href="{% static 'css/fullpage.css' %}">

	{% block style %}
	{% endblock style %}

	<title>Touch The JackPot - Show Me The Money</title>
</head>
<body>
	<div id="fullpage">
		{% block content %}
		{% endblock content %}
	</div>

	<script src="{% static 'js/fullpage.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script>
		new fullpage('#fullpage', {
			// Navigation
			anchors : ['page1', 'page2', 'page3', 'page4', 'page5'],
			
			navigation: true,
			navigationPosition: 'right',
			navigationTooltips: ['page1', 'page2', 'page3', 'page4', 'page5'],
			showActiveTooltip: true,

			// Scrolling
			autoScrolling:true,
			scrollHorizontally: true,

			// Design
			css3 : true,
			controlArrows : true,
			verticalCentered: true,
			responsiveHeight: 330,
			sectionsColor: ['#000000', '#000000', '#000000', '#000000', '#000000']
		});
	</script>

	{% block script %}
	{% endblock script %}
</body>
</html>