<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	{% load static %}

	<link rel="stylesheet" href="{% static 'css/fullpage.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">
	
	{% block style %}
	{% endblock style %}
  
	<title>Touch The JackPot - Show Me The Money</title>
</head>
<body>
	{% block content %}
	{% endblock content %}

	<script src="{% static 'js/fullpage.js' %}"></script>
	{% comment %} <script src="{% static 'js/fullpage.extensions.min.js' %}"></script> {% endcomment %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	{% block script %}
	{% endblock script %}
</body>
</html>